* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

body, html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --sidebar-bg-color: #84cc16;
    --header-bg-color: #fff;
    --main-content-bg-color: #ecfccb;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

header {
    background-color: var(--header-bg-color);
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 1rem;
    padding: 1rem;
}

header .user-info {
    display: flex;
    justify-self: end;
    gap: 8px;
}

header .searchbar{
    display: flex;
    gap: 8px;
}

header .searchbar input {
    flex: 1;
}

header .greetings {
    display: flex;
    gap: 8px;
}

header .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

header .buttons button {
    padding: 8px;
}
.sidebar {
    background-color: var(--sidebar-bg-color);
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    font-weight: 500;
}

.sidebar li {
    padding: 16px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: solid underline 2px;
    text-underline-offset: 4px;
}

.main-content {
    background-color: var(--main-content-bg-color);
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    column-gap: 8px;
}

.projects {
    grid-row: span 2;
}
.projects .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

.projects .card {
    background-color: white;
    border-radius: 4px;
    border-left: 4px solid orange;
    padding: 16px;
    min-height: 170px;
}

.main-content ul {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
}

.main-content .announcements li {
    padding: 12px;
}

.main-content .announcements li:nth-child(2) {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}
.main-content .announcements p {
    font-size: 0.85rem;
}